.top-to-btm {
    position: relative;
    .icon-position {
        position: fixed;
        bottom: 60px;
        right: 40px;
        z-index: 20;
    }
    .icon-style {
        background-color: #f1b84b;
        height: 50px;
        width: 50px;
        color: black;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        border-radius: 50%;
    
        i {
            color: white !important;
            position: absolute;
            left: 18px;
            top: 15px;
            font-size: 22px;
            z-index: 6 !important;
        }
    
        &:hover {
            animation: none;
            background: #cdc5b9;
            border: 2px solid #cdc5b9;
    
        }
    }
    
}





@keyframes movebtn {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(50px);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0px);
    }
}